.cardContainer{
margin-left: 10px;
margin-right: 10px;
width:100%;
display: flex;
// border: 1px solid;
border-radius: 0 0 9px 9px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);


//  width: 100%;
// align-items:flex-start;
flex-wrap: wrap;
 justify-content: space-between;

.appName{
    margin-top: 20px;
    font-weight: 600;
    width: 100%;
}
.appDescription{
    font-size:12px;
    font-weight: 100;
    width: 100%;
}

.externalLinks{
    display: flex;
   
    
    .website,.github1{
        color: rgb(85, 105, 120) ;
        width: 20px;
        height: 20px;
        margin-left: 10px;

        :hover{
            color: pink;
        }

    }
}
}
    
  