.navigation{
display: flex;
justify-content: space-between;
height: 70px;
width: 100%;
margin-bottom: 25px;


.myLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
   margin-left: 15px;
   margin-bottom: 15px;
    min-height: 100px;
    text-decoration: none;
   

    .user-profile-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: rgb(85, 105, 120);
        color: #ffffff;
        font-size: 30px;
        border-radius: 50%;
        font-weight: 100;

       
    }
    .user-profile-image:hover{
        color:violet;
    }
}
.nav-links-container{
    
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    .aboutmeLink{
        text-decoration: none;
       color: rgb(85, 105, 120);
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 15px 10px;
        position: relative;
      
        
     }
     .meLink:hover{
        color:violet;
     }
     .skillsLink:hover{
        color:violet;
     }
     .resumeLink:hover{
        color:violet;
     }
     .aboutmeUnderline{
        padding: 10px 10px;
        text-decoration: none;
         letter-spacing: 0.15em;
         position: relative;
        display: inline-block;
     }

    .aboutmeUnderline::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            background: none repeat scroll 0 0 transparent;
            height: 3px;
            width: 0;
            background: rgb(210, 208, 208);
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }
    .aboutmeUnderline::after{
        width: 50%;
        left:16%
    }
   
}
}