.split-container{
    display: flex;
    .left-split{
flex:0.5;
background-color: red
    }
    .middle-split{
        flex:4;
        background-color: yellow
    }
    .right-split{
        flex:4;
        background-color:green
    }
}