 img{
        width: 80px;
        height: 80px;
       
    }

.skillText{
    margin: 0px 15px;
    letter-spacing: 1px;
    line-height: 3;
    .skillHeader{
        font-weight:bold;
    }
}


    

