.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .nameAndPhoneInputs{
display: flex;
justify-content:space-between;
width: 600px;
.nameInput,.phoneInput{
    width: 290px;
    height: 40px;
    border-radius: 5px;
   border: 1px solid rgb(85, 105, 120);
}

    }
    .emailAndTextAreaInputs{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    .emailInput{
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(85, 105, 120);
    }
    .textArea{
        margin-top:20px ;
        height: 300px;
        border-radius: 5px;
        border: 1px solid rgb(85, 105, 120);
        }
    }
    .buttonIcon{
        margin-top: 10px;
        width: 600px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid rgb(85, 105, 120);
        color:  rgb(85, 105, 120);
    }
}